<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Data Visualization{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav>
        {% if user.is_authenticated %}
            <a href="{% url 'dashboard' %}">Dashboard</a>
            {% if user.is_staff or user.userprofile.status == 'admin' %}
                <a href="{% url 'files_view' %}">Files</a>
            {% elif user.userprofile.status == 'user' %}
                <a href="{% url 'user_files' %}">My Files</a>
            {% endif %}
            <a href="{% url 'logout' %}">Signout</a>
        {% else %}
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'register' %}">Register</a>
        {% endif %}
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>
